

.page-section, .small-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 0;
}
.self-logo {
    width: 30px;
    display: inline;
}
#navbar .self-logo {
    width: 20px;
    float: left;
    margin-right: 10px;
}

.spot-title {
    margin-top: 40px;
    color: #365a75;
    letter-spacing: 0.1em;
    line-height: 1;
    font-family: 'Lato';
    font-size: 3em;
}

.mb-80 { margin-bottom: 80px; }
.mb-50 { margin-bottom: 50px; }
.mb-40 { margin-bottom: 40px; }
.mb-20 { margin-bottom: 20px; }
.mt-80 { margin-top: 80px; }
.mt-20 { margin-top: 20px; }
.pb-80 { padding-bottom: 80px; }

@media only screen and (max-width: 480px) {
    .page-section {
        padding: 60px 0;
    }
    .mb-80 { margin-bottom: 40px; }
    .mb-40 { margin-bottom: 20px; }
    .mt-80 { margin-top: 40px; }
    .mb-20 { margin-bottom: 10px; }
    .mt-20 { margin-top: 10px; }
    .pb-80 { padding-bottom: 40px; }
}
@media (max-width: 767px) {
    .col-xs-10 img{
        margin-top:20px;
    }
}
.pos-rel{
    position: relative;
}
.top-buffer { margin-top:20px; }

.ma-auto {
    margin: auto;
}
.cate {
    margin-top: 0;
    position: relative;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    line-height: 1.8;
    font-family: 'Lato';
    color: white;
}
.sub-cate {
    color: rgba(255,255,255, .85);
}
.sub-int-title {
    font-size: 1.5em;
    font-family: 'Lato', 'Sans-Serif';
    color: rgba(84,84,84,0.8);
    font-weight: 300;
    margin-bottom: 18px;
}
.sub-int-content p {
    margin: 10px 0;
    color: rgba(84,84,84,0.5);
}
.title {
    color: rgba(84,84,84,0.8);
    font-family: 'Lato', 'Sans-Serif';
}
.content {
    font-size: 1.2em;
    color: rgba(84,84,84,0.5);
    line-height: 2em;
}

.process {
    color: rgba(84,84,84,0.5);
}
.process span {
    margin-top: 20px;
    display: block;
    font-size: 14px;
}

.home {
    padding: 40px;
    background: rgba(143,207,255,0.9);
    color: white;
    font-size: 2em;
    height: 40px;
    width: 40px;
}
.home i {
    position: absolute;
    top: 26px;
    left: 26px;
    color: rgba(255,255,255, 0.5);
}
a.back:hover i{
    color: white;
}
strong {
    color: gray;
}
.border {
    border: 1px solid rgba(128, 128, 128, 0.3);
}

ul {
    list-style-type: disc;
    padding-left: 15px;
}
li {
    display: list-item;
    color: rgba(84,84,84,0.5);
    font-size: 1.2em;
}
.quote {
    font-family: "Droid Serif", serif;
    font-style: italic;
}
.small-quote {
    font-size: 2em;
    color: rgba(15, 141, 208, 0.76);
    background-size: 10px;
    background-position: 10px 10px;
}
.quote {
    background-image: url('../images/quote-left.svg');
    background-repeat: no-repeat;
    background-size: 50px;
}
.endorsement-quote {
    text-align: justify;   
}

.in-des-quote {
    color: gray;
    background-size: 10%;
}
.endor-person {
    margin-top: 7.5px;
    width: 75%;
    float: right;
    font-size: 13px;
    color: #8e8e8e;
    text-align: right;
}
}
.align-items-center {
    align-items: center!important;
}
.text-center {
    text-align: center;
}

.full-section-title h2 {
    margin-bottom: 20px;
}
.logo {
    margin: auto;
}

.fake {
    height: 50px;
}

.navbar-brand {
    font-family: 'Lato';
}
/* Projects */
.proj-role{
    background: #f7f7f7;
}
.landing-photo {
    margin-top: -440px;
}

@media (max-width: 767px) {
    .endor-person {
        margin-top: 7.5px;
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .text-center-sm {
        text-align: center;
    }
}
