.page-section, .small-section {
    background-position: center -340px;
}

.page-section {
    padding-top: 20%;
    background-image: url('../images/game/20.jpg');
}

.pos-rel{
    position: relative;
}
.film-in-cover {
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #86d665, #ff5858);
    opacity: 0.75;
    position: absolute;
}

.banner-bk {
	background-position: center center;
}