
@font-face {
        font-family: 'Sans-Serif'
    }
    
html, body {
    height: 100%;
        font-family: 'Sans-Serif'
    
}

@keyframes showSub {
    from {display: none;}
    to {display: block;}
}

.cover:hover .sub-text {
    color: rgba(255,255,255, 0.85);
}
.cover:hover .text {
    color: rgba(255,255,255, 1);
}
.cover:hover .in-cover{

}

.h-30per {
    height: 33%;
}
.h-100per {
    height: 100%;
}

.text-block {
    position: absolute;
    left: 10%;
    top: 40%;
    max-width: 80%;
}
.text, .sub-text {
    color: rgba(255,255,255,0.7);
    font-family: 'Lato';
    font-weight: 300;
}

.sub-text {
    color: rgba(255,255,255,0.5);
}

/* Background */
.film-cover {
    background: url('../images/alice-cover.png');
}
.web-cover {
    background: url('../images/public.jpeg');
}
.graphics-cover {
    background: url('../images/graphics/2.jpg');
}
.cover {
    background-size: cover;
    position: relative;
}
/* need to put below XX-cover */

.in-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}
.web-in-cover {
    background: linear-gradient(135deg, #7baed4, #feafbc);    
    opacity: 0.75;
}
.film-in-cover {
    background: linear-gradient(135deg, #86d665, #ff5858);
    opacity: 0.8;
}
.graphics-in-cover {
    background: linear-gradient(135deg, #ffb100, #36ecff);
    opacity: 0.8;
}

.self {
    font-family: 'Lato';
    font-weight: 300;
    color: #9c9c9c;
}
.sub-self-text {
    font-family: Dosis, arial, sans-serif;
    letter-spacing: 0.2em;
    color: rgba(128, 128, 128, 0.38);
}

/*@keyframes example {
    from {background-size: 100%;}
    to {background-size: 150%;}
}
.cover{
    animation-name: example;
    animation-duration: 4s;
}*/
