
@font-face {
        font-family: 'Sans-Serif'
    }
    
html, body {
    height: 100%;
        font-family: 'Sans-Serif'
    
}

@keyframes showSub {
    from {display: none;}
    to {display: block;}
}

.cover:hover {
    cursor: pointer;
}
.cover:hover .sub-text {
    color: rgba(255,255,255, 0.85);
}
.cover:hover .text {
    color: rgba(255,255,255, 1);
}
.cover:hover .in-cover{

}

.h-30per {
    height: 33%;
}
.h-100per {
    height: 100%;
}
.min-h100per {
    min-height: 90%;
}

.text-block {
    position: absolute;
    left: 10%;
    top: 40%;
    max-width: 80%;
    margin: auto;
}
.title-block {
    position: initial;
    width: 750px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.text, .sub-text {
    color: rgba(255,255,255,0.7);
    font-family: 'Lato';
    font-weight: 300;
}
.text {
    color: rgba(255,255,255,1);
    font-size: 26px;
}
.self-block {
    max-width: 500px;
    padding-top: 50px;
    margin: auto;
}
.copyright {
    text-align: center;
    color: gray;
}

.sub-text {
    color: rgba(255,255,255,0.5);
}

/* Background */
.ceremony-cover {
    background: url('../images/cere/ceremony-preview.png');
}
.makerspace-cover {
    background: url('../images/makerspace.jpg');
}
.film-cover {
    background: url('../images/alice-cover.png');
}
.web-cover {
    background: url('../images/website.jpeg');
}
.graphics-cover {
    background: url('../images/graphics/2.jpg');
}
.game-cover {
    background: url('../images/game/20.jpg');
}
.resume-cover {
    background: url('../images/document.jpeg');
}
.cover {
    background-size: cover;
    position: relative;
    /*min-height: 200px;*/
    height: 230px;
}
/* need to put below XX-cover */

.in-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}
.cere-in-cover {
    /*background: linear-gradient(135deg, #7baed4, #feafbc);*/
    background: #7baed4;    
    opacity: 0.8;
}
.make-in-cover {
    background: #bb91b3;
    opacity: 0.8;
}
.web-in-cover {
    background: #b0d0b0;
    opacity: 0.8;
}
.film-in-cover {
    /*background: linear-gradient(135deg, #6092b7, #e47e8f);*/
    background: #b18a54;
    opacity: 0.8;
}
.graphics-in-cover {
    background: #9e86a9;
    opacity: 0.8;
}
.game-in-cover {
    background: #a2a271;
    opacity: 0.8;
}
.resume-in-cover {
    background: linear-gradient(135deg, #ecb9da, #ccc178);
    opacity: 0.8;
}
.blank-in-cover {
    background: linear-gradient(135deg, #ffd0ef, #c8ffb1);
    opacity: 0.8;
}
.interval-in-cover {
    background: #e8dbdb;
    opacity: 0.8;
}


.about-me {overflow: hidden;}
.light-gray-bk {
    background-color: rgba(214, 214, 214, 0.03);
}
.avator {
    width: 150px;
    opacity: 0.8;
}
.per-attr {
    width: 100px;
    opacity: 1;
}
.self {
    font-family: 'Lato';
    font-weight: 300;
    color: #9c9c9c;
    text-align: center;
}
.sub-self-text {
    font-family: 'Dosis', arial, sans-serif;
    letter-spacing: 0.2em;
    color: rgba(128, 128, 128, 0.38);
    text-align: center;
}
.sub-self-text-des {
    font-family: times, sans-serif;
    color: rgba(128, 128, 128, 0.5);
    line-height: 1.5em; 
    font-size: 17px;
    padding-top: 25px;
}
.designer-block {
    background: rgba(255, 226, 165, 0.2);
    padding: 10px;
    color: gray;
}
.engineer-block {
    background: rgba(213, 238, 255, 0.4);
    padding: 10px;
    color: gray;
}
.designer-block, .engineer-block{
    margin-bottom: -99999px;
    padding-bottom: 100026px;
    text-align: justify;
}

.about-me-subtitle {

}
.content {
    line-height: 1.5em;
}
.navbar-index a{
    color: gray;
}
.navbar-index a:hover {
    background: transparent !important;
    color: #bbbbbb;
}
.sub-int-content li {
    display: inherit;
}
.line {
    height: 5px;
    background: #ffd4f0;
    /* position: absolute; */
    /* bottom: 0; */
    z-index: -1;
    width: 250px;
    margin: -10px auto 0;
}

/*@keyframes example {
    from {background-size: 100%;}
    to {background-size: 150%;}
}
.cover{
    animation-name: example;
    animation-duration: 4s;
}*/
