.make-in-cover {
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #86d665, #ff5858);
    opacity: 0.75;
    position: absolute;
}

.logo {
	width: 114px;
}

.spot-title {
	margin-top: 40px;
    color: #a9003c;
    letter-spacing: 0.1em;
    line-height: 1;
    font-family: 'Lato';
    font-size: 3em;
}
.proj-title {
	color: #ff7272;
}