.web-in-cover {
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #7baed4, #feafbc);
    opacity: 0.75;
    position: absolute;
}
/**/

.condition {
    border: 1px solid rgba(128,128,128,0.4);
    padding: 10px 20px;
    border-radius: 7px;
    min-height: 80px;
    margin-bottom: 20px;
    line-height: 60px;
    color: rgba(63,187,87,0.7);
    font-family: 'Lato';
    font-size: 20px;
}
.ds {
    color: rgba(84,84,84,0.8);
}
